# PlutoF API ligipääsuandmed
# Registreeri rakendus PlutoF portaalis: https://app.plutof.ut.ee
PLUTOF_CLIENT_ID=sinu_client_id_siia
PLUTOF_CLIENT_SECRET=sinu_client_secret_siia
PLUTOF_USERNAME=sinu_plutof_kasutajanimi_voi_email
PLUTOF_PASSWORD=sinu_plutof_parool
